.Rproj.user
.Rproj.user/
MicroSEC.Rcheck
MicroSEC.Rcheck/
.Rbuildignore
.gitignore
.Rhistory
.RData
.DS_Store
.Ruserdata
vignettes/*.html
vignettes/*.pdf
.Renviron
docs/
MicroSEC_test.tsv.gz
.github/
sample.tsv.gz